<h1>Timecard Creation</h1>

<%= form_for(:card, :url => cards_path) do |f| %>
  <div class="field" style="float:left;margin:5px">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field" style="float:left;margin:5px">
    <%= f.label :supervisor %><br />
    <%= f.text_field :supervisor %>
  </div>

  <div class="hint">
    <p>Leave something anything, it wont show up on the timecard.</p>
  </div>
  <div id="project_template" style="display:none">
    <div class="project">
      <%= select_tag "card[projects][]", options_from_collection_for_select(@projects, "id", "name"), :prompt => "---" %><br />
    </div>
  </div>
  <div id="allocation_template" style="display:none">
    <div class="allocation">
      <input name="card[allocations][]" /><br />
    </div>
  </div>
  
  <div id="project_allocations" style="clear:both;">
    <div id="projects" style="float:left;margin-right:10px;">
      <%= f.label :projects, 'Project' %>
      <br />  
    </div>
    <div id="allocations" style="float:left;">
      <%= f.label :allocations, 'Allocation' %>      
      <br />
    </div>
  </div>
  
  <div id="submit" style="clear:both;padding-top:20px;">
    <%= f.submit "Create & Download" %>
    &nbsp;|&nbsp;
    <a href="/projects/new">Don't see your project?</a>
  </div>
<% end %>